.cont {
	background-color: rgb(248, 243, 243);
	display: flex;
	flex-direction: column;
	gap: 200px;
	margin: 0;
	border: none;
	padding: 50px;
	height: 100vh;
	width: 100%;
  }
  
.main {
	display: flex;
	gap: 30px;
	align-items: center;
	justify-content: center;
}
.heading{
	color: rgb(0, 0, 0);
    align-self: center;
    font-size: 70px;
    text-shadow: rgb(109, 14, 104) 1px 1px 2px, rgb(50, 9, 83) 0px 0px 1em, rgb(41, 3, 52) 0px 0px 0.2em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.child {
	background-color: rgb(52, 7, 62);
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(244, 235, 235);
	font-size: 80px;
	height: 150px;
	width: 150px;
    border-radius: 20px;
}
.colon{
	color: rgb(59, 13, 54);
	font-size: 90px;
}
.mer{
	background-color: rgb(59, 13, 54);
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(225, 204, 226);
	font-size: 40px;
	font-weight: 300;
	height: 60px;
	width: 70px;
    border-radius: 8px;
}